/* .container {
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bgColor);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: .8rem 1rem;
  color: var(--textColor);
}
.btn .icon {
  margin-left: .5rem;
}
.btn:hover {
  background: var(--paleGreen);
  color: var(--PrimaryColor);
}

.grid {
  display: grid;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
} */
